body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.header-container{
    height: 72px;
    display: flex;
}
.nav-list{
    margin-left: 156;
    margin-top: 24px;
}
.logo-1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-2{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;  
  color: #2e2f42;
}
  .list-of-logo{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.list-of-logo .link:hover{
    
    color: #404bbf;
}

.list-of-logo .link:focus{
  color: #404bbf;
}
.contact {
  font-style: normal;
   
}
.list-of-contact {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.list-of-contact :hover{
    color: #404bbf;
}
.list-of-contact :focus{
    color: #404bbf ;
}

.mainsection1 {
  background-color: #2e2f42;
}
.effective {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.mainbutton {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.mainbutton:hover {
  background-color: #404bbf;
}
.mainbutton:focus {
  background-color: #404bbf;
}
.mainbutton {
  cursor: pointer;
}
.strategy {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color зі значенням #2e2f42 ;
}
.paragraf-of-strategy{
    line-height: 1.5;
    letter-spacing: 0.02em ;
    color: #434455;
}
.paragraf-of-punctuality{
    line-height: 1.5;
    letter-spacing: 0.02em ;
    color: #434455;
}


.paragraf-of-diligence{
    line-height: 1.5;
    letter-spacing: 0.02em ;
    color: #434455;
}
.paragraf-of-technologies{
    line-height: 1.5;
    letter-spacing: 0.02em ;
    color: #434455;
}
.mainsection3{
    background-color: #F4F4FD;
}
.our-team{
    font-size: 36px;
    line-height: 1.11 ;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.first-of-mainsection3{
    background-color: #FFFFFF;
}
.mark-guerrero{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    color:#2e2f42 ;
}
.product-designer{
    font-size: 16px ;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455 ;
}
.first-of-mainsection2{
    background-color: #FFFFFF;
|}
.tom-ford{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    color:#2e2f42 ;
}
.frontend-developer{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    color:#2e2f42 ;
}
.first-of-mainsection3{
    background-color: #FFFFFF;
}
.camila-garcia{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    color:#2e2f42 ;
}
.marketing{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    color:#2e2f42 ;
} 
.first-of-mainsection4{
    background-color: #FFFFFF;
}
.daniel-wilson{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    color:#2e2f42 ;
}
.ui-designer{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    color:#2e2f42 ;
}
.our-portfolio{
    font-size: 36px;
    line-height: 1.11 ;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.banking-app{
    font-weight: 500 ;
    font-size: 20px ;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color зі значенням #2e2f42;
}
.app{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.cashless-payment{
font-weight: 500 ;
    font-size: 20px ;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color зі значенням #2e2f42;
}
.marketing{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.meditation-app{
    font-weight: 500 ;
    font-size: 20px ;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.app-meditation{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.taxi-service{
    font-weight: 500 ;
    font-size: 20px ;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.marketing{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.screen-illustration{
    font-weight: 500 ;
    font-size: 20px ;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.design{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.online-courses{
    font-weight: 500 ;
    font-size: 20px ;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.marketing{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.foter{
    background-color: #2e2f42;
}
.webstudio{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.studio[
    color: #f4f4fd;
]
.foter-paragraf{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}